<div class="sections-paragraphs">
  <p>Hello, welcome to my website. I am a second-year PhD student in <b>Interpretability</b> for <b>Natural Language
      Processing</b> models.
    I do my PhD between the IRT Saint Exupéry and the IRIT, both in Toulouse France.
    I am under the supervision of Pr. Nicholas Asher, Pr. Philippe Muller, and Dr. Fanny Jourdan.</p>
  <p>Core maintainer of the <a class="link" href="https://github.com/FOR-sight-ai/interpreto">Interpreto</a> and
    <a class="link" href="https://github.com/deel-ai/xplique">Xplique</a> open-source libraries.
    My goal is to provide easy access to useful explanations.
  </p>
</div>
<div class="sections-paragraphs">
  <p>I am currently developing this website. Please, wait a few days :)</p>
</div>