<div class="card">
  <p>I am a second-year PhD student in <b>Interpretability</b> for <b>Natural Language Processing</b> models.
    I do my PhD between the IRT Saint Exupéry and the IRIT, both in Toulouse France.
    I am under the supervision of Pr. Nicholas Asher, Pr. Philippe Muller, and Dr. Fanny Jourdan.</p>
  <p>Core maintainer of the Interpreto open-source library. My goal is to provide easy access to useful explanations.
  </p>
  <p>I am currently developing this website. Please, wait a few days :)</p>
</div>