<aside class="sidebar">
  <div class="sidebar-inner">
    <img class="avatar" src="{{ site.data.sidebar.photo | relative_url }}" alt="Profile photo" />

    <div class="sidebar-text">
      <div class="name" style="font-size: 30px;">{{ site.data.sidebar.name }}</div>
      <div class="title" style="font-size: 18px;">{{ site.data.sidebar.title }}</div>
      <div class="location" style="font-size: 14px;">{{ site.data.sidebar.location | newline_to_br }}</div>
      <div class="email" style="font-size: 12px;">{{ site.data.sidebar.email }}</div>
    </div>

    <div class="icons">
      {% for c in site.data.sidebar.contacts %}
      <a class="icon" href="{{ c.href }}" aria-label="{{ c.label }}" title="{{ c.label }}">
        {% if c.icon %}
        <img class="icon-img" src="{{ c.icon | relative_url }}" alt="{{ c.label }}">
        {% else %}
        {{ c.label }}
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</aside>