<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="theme-color" content="#145c56" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <a class="skip-link" href="#content">Skip to content</a>
    <div class="layout">
      {{ content }}
    </div>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
